<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.virtualPet.mapper.VirtualPetMapper">
    
    <resultMap type="VirtualPet" id="VirtualPetResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="petTypeId"    column="pet_type_id"    />
        <result property="petName"    column="pet_name"    />
        <result property="petAvatar"    column="pet_avatar"    />
        <result property="birthTime"    column="birth_time"    />
        <result property="level"    column="level"    />
        <result property="experience"    column="experience"    />
        <result property="hunger"    column="hunger"    />
        <result property="happiness"    column="happiness"    />
        <result property="energy"    column="energy"    />
        <result property="cleanliness"    column="cleanliness"    />
        <result property="health"    column="health"    />
        <result property="status"    column="status"    />
        <result property="deleted"    column="deleted"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectVirtualPetVo">
        select id, user_id, pet_type_id, pet_name, pet_avatar, birth_time, level, experience, hunger, happiness, energy, cleanliness, health, status, deleted, create_time, update_time from virtual_pet
    </sql>

    <select id="selectVirtualPetList" parameterType="VirtualPet" resultMap="VirtualPetResult">
        <include refid="selectVirtualPetVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="petTypeId != null "> and pet_type_id = #{petTypeId}</if>
            <if test="petName != null  and petName != ''"> and pet_name like concat('%', #{petName}, '%')</if>
        </where>
    </select>
    
    <select id="selectVirtualPetById" parameterType="Long" resultMap="VirtualPetResult">
        <include refid="selectVirtualPetVo"/>
        where id = #{id}
    </select>

    <insert id="insertVirtualPet" parameterType="VirtualPet" useGeneratedKeys="true" keyProperty="id">
        insert into virtual_pet
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="petTypeId != null">pet_type_id,</if>
            <if test="petName != null and petName != ''">pet_name,</if>
            <if test="petAvatar != null">pet_avatar,</if>
            <if test="birthTime != null">birth_time,</if>
            <if test="level != null">level,</if>
            <if test="experience != null">experience,</if>
            <if test="hunger != null">hunger,</if>
            <if test="happiness != null">happiness,</if>
            <if test="energy != null">energy,</if>
            <if test="cleanliness != null">cleanliness,</if>
            <if test="health != null">health,</if>
            <if test="status != null">status,</if>
            <if test="deleted != null">deleted,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="petTypeId != null">#{petTypeId},</if>
            <if test="petName != null and petName != ''">#{petName},</if>
            <if test="petAvatar != null">#{petAvatar},</if>
            <if test="birthTime != null">#{birthTime},</if>
            <if test="level != null">#{level},</if>
            <if test="experience != null">#{experience},</if>
            <if test="hunger != null">#{hunger},</if>
            <if test="happiness != null">#{happiness},</if>
            <if test="energy != null">#{energy},</if>
            <if test="cleanliness != null">#{cleanliness},</if>
            <if test="health != null">#{health},</if>
            <if test="status != null">#{status},</if>
            <if test="deleted != null">#{deleted},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateVirtualPet" parameterType="VirtualPet">
        update virtual_pet
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="petTypeId != null">pet_type_id = #{petTypeId},</if>
            <if test="petName != null and petName != ''">pet_name = #{petName},</if>
            <if test="petAvatar != null">pet_avatar = #{petAvatar},</if>
            <if test="birthTime != null">birth_time = #{birthTime},</if>
            <if test="level != null">level = #{level},</if>
            <if test="experience != null">experience = #{experience},</if>
            <if test="hunger != null">hunger = #{hunger},</if>
            <if test="happiness != null">happiness = #{happiness},</if>
            <if test="energy != null">energy = #{energy},</if>
            <if test="cleanliness != null">cleanliness = #{cleanliness},</if>
            <if test="health != null">health = #{health},</if>
            <if test="status != null">status = #{status},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteVirtualPetById" parameterType="Long">
        delete from virtual_pet where id = #{id}
    </delete>

    <delete id="deleteVirtualPetByIds" parameterType="String">
        delete from virtual_pet where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>